{% extends "layout.html.jinja" %}
{% block content %}
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1 id="Login-T">Safari Life</h1>
                <h2>Child Care Management System</h2>
            </div>
        </div>
        <div class="flask-message-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}<div class="{{ category }}">{{ message }}</div>{% endfor %}
                {% endif %}
            {% endwith %}
            <div id="entire-login" class="right">
                <h5 id="login_title">Login</h5>
                <img elephant-mascot
                     src="https://assets.codepen.io/6554302/CMS-logo.png"/>
                <div class="inputs login-form">
                    <form action="url_for('verify_user')" method="post">
                        {{ form.csrf_token }}
                        <div class="login-form-field">
                            {{ form.username(size=32) }}
                            {{ form.username.label }}
                        </div>
                        <div class="login-form-field">
                            {{ form.password(size=32) }}
                            {{ form.password.label }}
                        </div>
                        <diV class="remember-me--forget-password">
                            {{ form.remember_me.label }}
                            {{ form.remember_me() }}
                        </diV>
                        {{ form.recaptcha() }}
                        {{ form.submit(class_="button", id_="submit") }}
                    </form>
                </div>
                <div class="forgot-password-copy-contatiner">
                    <i class="fa fa-question-circle-o fa-3x"
                       aria-hidden="true"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Reach out to your daycare director"></i>
                    <p id='no-password' class="forgot-password-copy">
                        Don't have an account or forgot your password?
                    </p>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}
