  <div class="copyright">
  Copyright &copy; <br>
   <img src="https://assets.codepen.io/6554302/Brooks_init_.png" />
   <p>Platform Designed by <a href='https://www.brooksjr.com'> Brooks __init__ Initiative</a></p>
   <script type="text/javascript">
document.write("2019 - "+ new Date().getFullYear());
   </div> 